html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}	

body {
	margin: 0;
}

div.container {
	width: 600px;
	margin-top: 100px;
	margin-left: 200px;
}

#box {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: darkgreen;
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease;
	color: rgb(189, 42, 164);
	font-size: 50px;
	overflow: visible;
}

#box p {
	position: relative;
	left: -30px;
	margin: 0 0 0 0;
	line-height: 200px;
	opacity: 0;
	transition: opacity 2s ease-in;
}

/* The transformation */
#box:hover {
	transform: scale(3) rotate(360deg);
}

#box:hover p {
	opacity: 1;
}

figure {
	width: 300px;
	height: auto;
	border: 1px solid black;
	margin: 200px 0 0 0;
	transition: transform 2s ease;
}
figure:hover {
	transform: scale(3) rotate(360deg) skew(45deg);
}
figure img {
	display: block;
	width: 100%;
}