/* Styles for the border box model (optional) */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Reset Styles */

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

div.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

div.wrapper img.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: auto;
    opacity: 0.8;
}

/* Shared Styles */

header, footer {
	background-color: #333333;
	color: white;
	padding: 20px;
}

h1, h2 {
	margin: 0;
	font-family: 'Lobster', cursive;
	font-weight: 400;
}

h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

/* Header Styles */

header {
    display: block;
	padding: 20px;
	text-align: center;
}

header div {
    display: inline-block;
    width: 200px;
    height: auto;
}

header div img {
    display: block;
	width: 100%;
	left: 0%;
}

header h1 {
    display: inline-block;
    margin: 0;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}



/* Container Styles */

.container {
	position: relative;
	width: 75%;
	margin: auto;
}

.container h2 {
	
	column-span: all;
	font-size: 40px;
	margin-bottom: 30px;
}

.container form {
	text-align: center;
	
}

form {
    width: 80%;
    margin: 40px auto;
    background-color: rgba(169, 199, 204, 0.8);
    padding: 20px;
    text-align: center;
}

form h2 {
    margin: 0;
}

form div {
    padding: 20px 0;
}

form div label {
    display: block;
}

form div input {
    width: 300px;
}

form div.address-section input {
    margin-bottom: 5px;
}

form div.button-bar input {
    width: 150px;
    background-color: #e7e7f6;
    border-radius: 5px;
    background-color: #ceaee8;
    color: #fff;
    font-size: 20px;
}





