/* Mobile Stylesheet */

.container article {
	column-count: 1;
	width: 100%;
	margin: 0;
}

.container .sidebar {
	clear: both;
	width: 100%;
	margin: 20px 0 0 0;
}

.container blockquote {
	width: 100%;
}
.container blockquote::before {
	display: none;
	visibility: hidden;
}
.container blockquote p {
	width: 100%;
}