/* Print Stylesheet */

header {
	background-color: none;
	background: none;
}
header h1 {
	color: black;
	font-family: sans-serif;
}

.sidebar, footer {
	display: none;
	visibility: hidden;
}

div.container article {
	column-count: 2;
	width: 100%;
	margin: 0;
}

div.container blockquote {
	width: 100%;
	margin: 0;
	background-color: none;
	background: none;
	color: black;
}