/* Styles for the border box model (optional) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Reset Styles */
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}


/* Shared Styles */
header, footer {
	background-color: #333333;
	color: white;
	padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Lobster', cursive;
	font-weight: 400;
}


/* Header Styles */
header {
	text-align: center;
}
header h1 {
	font-size: 50px;
}

/* Container Styles */
.container {
	position: relative;
	width: 85%;
	margin-top: 30px;
	margin-right: 5%;
	margin-bottom: 40px;
	margin-left: 10%;
}
.clearfix:after {
	content:"";
	display: block;
	clear: both;
}

/* Article Styles */
.container article {
	position: relative;
	float: left;
	width: 70%;
	margin: 0 5% 0 0;
	column-count: 3;
	column-gap: 20px;
	column-rule: 2px solid #333333;
	font-family: inherit;
	font-size: 18px;
	font-weight: 400;
}
.container article h2 {
	text-align: center;
	column-span: all;
	font-size: 40px;
	margin-bottom: 30px;
}
.container article p {
	margin-top: 0;
	margin-bottom: 15px;
}

/* Article Block Quote Style */
.container blockquote {
	display: inline-block;
	position: relative;
	clear: both;
	width: 70%;
	margin: 40px 0 0 0;
	padding: 20px;
	border: 0;
	background-color: #333333;
	color: white;
	border-radius: 20px;
}
.container blockquote::before { /* Using the :before psudo-element to create a quote symbol before the quote */
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -20px;
	width: 6%;
	height: auto;
	margin: 0 4% 0 0;
	content: '\0022'; /* this is a 'CSS Code' used for special characters, in this case, a double quotation mark */
	font-family: Lobster, cursive;
	font-size: 100px;
	text-align: right;
}
.container blockquote p {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 90%;
	margin: 0 0 0 0;
	font-size: 20px;
	text-align: left;
}



/* Sidebar Styles */
.container .sidebar {
	float: right;
	background-color: #333333;
	width: 25%;
	height: auto;
	text-align: center;
	padding: 20px;
}
.container .sidebar h3 {
	margin: 0 0 20px 0; /* Only the bottom has margin */
	color: white;
	font-size: 30px;
}
.container .sidebar figure {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 0 20px 0;
	padding: 0;
	outline: 0;
	border: 1px solid #888888;
}
.container .sidebar figure img {
	display: block;
	width: 100%;
	margin: 0;
}

/* Footer Styles */
footer h4 {
	font-size: 26px;
}
footer nav ul li a {
	color: white;
}


/*
-------------------------------------------
If you want to have all of your styling on
one stylesheet, you can use @media calls 
as shown below:
-------------------------------------------
*/



/* Styles placed inside this query will only come in to effect when the device is larger than 500 px and smaller than 1000px */
@media screen and (min-width: 501px) and (max-width: 1000px) {



}

/* Styles placed inside this query will only come in to effect when the device width is 500px or smaller */
@media screen and (max-width: 500px) {


}


/* Styles placed inside this query will only apply to a printed page. */
@media print {



}

